<script id="campaign-listing-template" type="x-tmpl-mustache">
  <div class="campaign">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
  </div>
</script>

<h1>Fundsy API Client</h1>

<div class="campaigns"></div>